<div class="listHome">
    <ul >
        {{#each productManager.docs}}
        <li class="liHome">
            <h3>{{this.title}}</h3>
            <p>ID: {{this._id}}</p>
            <p>Descripción: {{this.description}}</p>
            <p>Precio: ${{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
            <img src="{{this.thumbnails}}" alt="{{this.title}}">
        </li>
        {{/each}}
    </ul>
</div>

{{#if productManager.hasNextPage}}
  <a href="/?page={{productManager.nextPage}}">Siguiente</a>
{{/if}}
{{#if productManager.hasPrevPage}}
  <a href="/?page={{productManager.prevPage}}">Anterior</a>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
